body {
    overflow-x: hidden; 
}

:root {
  --background: #252829;
  --white: white;
  --blue: #57bbd7;
  --green: #77bc82;
  --grey: #b8b9bb;
  --beige: #fff3f3;
  --black-lighter: #373737;
  --black-lighter-2: #4f4f4f;

  --main-font: "Inter";
  --secondary-font: "El Messiri";

  --headline: 6rem;
  --h2: 2.5rem;
  --h3: 1.2rem;
  --body: 1rem;
  --small: 0.875rem;

  --padding: 72px;
  --max-width: 1350px;
  --margin-end: 100px;

  --responsive-margin: auto 3vw var(--margin-end) 3vw;
  --responsive-padding: 0 3vw;

  --loading-grey: #4b4b4b;

  color-scheme: dark;
}

.refresh-table {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    color: blue;
  }
  
  .refresh-table button {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--black-lighter-2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 7px 7px;
    transition: background-color 0.3s ease-in-out, transform 0.1s ease-in-out;
  }
  
  .refresh-table button:disabled {
    cursor: not-allowed;
  }
  
  .refresh-table button svg {
    width: 32px;
    height: 32px;
    -o-object-fit: contain;
    object-fit: contain;
  }
  
  .refresh-table button:hover {
    background-color: var(--black-lighter);
  }
  
  .refresh-table button:active {
    transform: scale(0.9);
  }
  
  .resaTable__noResa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--grey);
  }
  
  .resaTable {
    width: 90%;
    border-spacing: 0;
    margin: auto;
  }
  

  
  .resaTable caption {
    opacity: 0;
  }
  
  .resaTable__head th {
    color: var(--grey);
    font-weight: 400;
    background-color: var(--black-lighter);
  }
  
  .resaTable tr {
    border: 1px solid var(--black-lighter-2);
    padding: 0.35em;
  }
  
  .resaTable th,
  .resaTable td {
    padding: 16px;
    text-align: left;
    white-space: nowrap;
  }
  
  .resaTable td {
    border-bottom: 2px solid var(--black-lighter-2);
  }
  
  .resaTable td:first-child {
    border-left: 2px solid var(--black-lighter-2);
  }
  
  .resaTable td:last-child {
    border-right: 2px solid var(--black-lighter-2);
  }
  
  .resaTable th {
    border-top: 2px solid var(--black-lighter-2);
    border-bottom: 2px solid var(--black-lighter-2);
  }
  
  .resaTable th:first-child {
    border-left: 2px solid var(--black-lighter-2);
    border-top-left-radius: 4px;
  }
  
  /*
  .resaTable th:last-child {
    border-left: 2px solid var(--black-lighter-2);
    border-bottom-left-radius: 4px;
  }
  */
  
  .resaTable tr:first-child th:last-child {
    border-top-right-radius: 4px;
    border-right: 2px solid var(--black-lighter-2);
  }
  
  .resaTable tr:last-child td:first-child {
    border-top-right-radius: 4px;
    border-left: 2px solid var(--black-lighter-2);
    border-bottom-left-radius: 4px;
  }
  
  .resaTable tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
  }
  
  .resaTable__dateResa {
    color: var(--grey);
  }
  
  .resaTable__delete {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .resaTable__delete button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  
  .resaTable__delete:hover {
    background-color: var(--black-lighter);
  }
  
  .resaTable__delete:hover path {
    fill: var(--white);
  }
  
  @media screen and (max-width: 1050px) {
    .resaTable {
      border: 0;
    }
  
    .resaTable thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      background-color: #cd1c1c;
    }

  
    .resaTable tr {
      display: block;
      margin-bottom: 10px;
      border-radius: 4px;
    }
  
    .resaTable td {
      display: block;
      font-size: 1em;
      text-align: right;
    }
  
    .resaTable td::before {
      content: attr(data-label);
      float: left;
      color: var(--grey);
    }
  
    .resaTable td:last-child {
      border-bottom: 0;
      border: none;
    }
  
    .resaTable td {
      border-left: none !important;
    }
  
    .resaTable__delete:hover {
      background: transparent;
    }
  
    .resaTable__delete a {
      padding: 4px;
      border-radius: 4px;
      display: inline-flex;
    }
  
    .resaTable__delete a:hover {
      background-color: var(--black-lighter-2);
    }
  }
  
  @media screen and (max-width: 430px) {
    .resaTable td,
    td p {
      font-size: 0.9em;
    }
  }
  
  @media screen and (max-width: 355px) {
    .resaTable td,
    td p {
      font-size: 0.8em;
    }
  }

// .reservation-table {
//     display: flex;
//     justify-content: start;
//     width: 100%;
//     overflow-x: scroll; 
//     padding: 10px; 
// }

// .reservation-table table {
//     border-collapse: collapse;
//     color: white;
//     background-color: rgb(32, 31, 31);
// }

// .reservation-table th,
// .reservation-table td {
//     padding: 10px;
//     text-align: left;
//     border-bottom: 1px solid #ddd;
//     border-right: 1px solid #ddd;
// }

// @media screen and (min-width: 768px) {
//     .reservation-table {
//         display: flex;
//         justify-content: center;
//     }
// }